<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeManagerApp"

        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Fragment.lienhe_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.phanhoi_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.Lichsu_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.Taikhoan_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.Danhgiadonhang"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.Theodoidonhang_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.Hoa_donactivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.Phuongthucthanhtoan_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.khuyenmai_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.diachigiaohang_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.Gio_hang_sp"
            android:exported="false"
            android:launchMode="standard"/>
        <activity
            android:name=".Activity.Fragment.Trang_chuActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".Activity.Fragment.Viewsanpham"
            android:exported="false" />
        <activity
            android:name=".Activity.handlelogin.CreatAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.handlelogin.ForgotpasswordActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.handlelogin.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fragment.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>